@font-face {
  font-family: "Poppins";
  src: url(Fontes/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(Fontes/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(Fontes/Poppins-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-principal: #1a237f;
  --cor-secundária: #4fc3f7;
  --cor-fundo: #fafafa;
  --sombra: #00000025;
  --opacidade: 1;
  --cor-texto-1: #ffffff;
  --cor-texto-2: #1a237f;
  --cor-caixa: #ffffff;
  --cor-texto-caixa: #4f585d;
  --cor-texto: #000000;
  --cor-footer: #90a4ae;
  --fonte-principal: "Poppins", sans-serif;
  --texto-ciano: #4fc3f7;
  --filtro-cadeado: invert(18%) sepia(87%) saturate(800%) hue-rotate(190deg);
}

#darkmode {
  cursor: pointer;
}

.dark-mode {
  --cor-principal: #0f172a;
  --cor-secundária: #172554;
  --cor-fundo: #1d3370;
  --sombra: #00000050;
  --opacidade: 0.8;
  --cor-texto-1: #d0d2d8;
  --cor-texto-2: #ededed;
  --cor-texto: #d0d2d8;
  --cor-texto-caixa: #bfbfc0;
  --cor-caixa: #ffffff10;
  --cor-icon: invert() grayscale(1);
  --filtro-cadeado: invert(100%);
  --invert: invert() grayscale(1);
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--cor-principal) 33%,
    var(--cor-secundária) 66%,
    var(--cor-fundo)
  );
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 84px;
  padding: 25px;
  background-color: var(--cor-principal);
  box-shadow: 0px 4px 30px var(--sombra);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: flex;
  width: 160px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu img {
  box-sizing: content-box;
  width: 30px;
  height: 30px;
}

.menu a {
  display: inline-flex;
  padding: 10px;
  list-style: none;
  font-size: 1em;
  color: var(--cor-texto-1);
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.aumentarfonte {
  position: relative;
}

.aumentarfonte button {
  border: none;
  background-color: var(--cor-principal);
  cursor: pointer;
  position: sticky;
  z-index: 10;
}

.search-nav {
  width: 25px;
}

.mnr {
  position: absolute;
  top: 100%;
  left: -25px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}

.mnr button {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: var(--cor-principal);
  color: white;
  cursor: pointer;
}

.container {
  background-color: var(--cor-caixa);
  box-shadow: 0px 8px 20px var(--sombra);
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  color: var(--cor-texto);
}

.titulo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5em;
  color: var(--cor-texto-2);
}

.cadeado {
  filter: var(--filtro-cadeado);
}

.titulo {
  color: var(--cor-texto-2);
  margin-top: 30px;
}
.dois_fatores {
  color: var(--cor-texto-caixa);
  position: relative;
  bottom: 15px;
}

.p2FA {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.p2FA li {
  margin: 20px 0px;
}
.p2FA img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.add {
  position: relative;
  bottom: 12px;
}

.porc-area {
  margin: 30px 0;
  font-size: 1.1em;
  font-weight: bold;
}
.porc {
  font-weight: bold;
  font-size: 1.4em;
  display: inline-block;
  margin-right: 8px;
  color: var(--texto-ciano);
}
.porc-area .fonte {
  font-size: 0.625em;
  color: var(--cor-texto-caixa);
  margin-top: 10px;
}

.como_funciona {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 30px 0;
  text-align: center;
}
.como_funciona img {
  width: 130px;
  filter: var(--invert);
}
.img {
  filter: var(--invert);
}

.lista ul {
  margin: 15px 0;
  padding-left: 20px;
}

.lista li {
  margin-bottom: 10px;
}

footer {
  background-color: var(--cor-principal); /* Azul escuro */
  color: var(--cor-footer);
  text-align: center;
  padding: 1em 0;
  font-size: 0.875em; /* ou 14px */
  position: relative;
  bottom: 0;
  width: 100%;
}
.btn-abrir-menu,
.menu-mobile,
.overlay-menu {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    gap: 10px;
  }
  .como_funciona {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .container {
    margin: 20px;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 60px;
  }
  .logo {
    flex: 1;
  }

  .logo img {
    width: 140px;
  }

  .menu {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .menu a {
    font-size: 0.9em;
  }

  .btn-abrir-menu {
    display: block;
  }

  .btn-abrir-menu img {
    width: 30px;
    cursor: pointer;
  }

  .menu-mobile {
    display: block;
    height: 100vh;
    width: 0%;
    position: fixed;
    background-color: var(--cor-principal);
    top: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    transition: 0.3s;
  }

  .menu-mobile.abrir-menu {
    width: 70%;
  }

  .menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
  }

  .menu-mobile .fechar {
    padding: 20px 4%;
    position: fixed;
    cursor: pointer;
  }

  .menu-mobile .fechar img {
    opacity: var(--opacidade);
    width: 25px;
  }

  .menu-mobile nav {
    padding: 60px 0px;
  }

  .menu-mobile nav ul {
    text-align: right;
  }

  .menu-mobile nav ul a {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    list-style: none;
    text-decoration: none;
  }

  .menu-mobile nav ul a:hover {
    background-color: var(--cor-secundária);
    color: var(--cor-texto-2);
  }

  .overlay-menu {
    background-color: var(--cor-overlay);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
  }
  .menu nav {
    display: none;
  }

  .aumentarfonte img {
    position: relative;
    left: 10px;
  }
  .container {
    margin: 20px;
    padding: 20px;
  }

  .titulo2 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5em;
    color: var(--cor-texto-2);
  }

  .p2FA {
    flex-direction: column;
    padding: 10px;
  }

  .p2FA img {
    display: none;
  }

  .como_funciona {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .como_funciona img {
    width: 100px;
  }

  .porc-area {
    font-size: 1em;
  }

  footer {
    font-size: 0.75em;
    padding: 10px 0;
  }
}