@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --cor-principal: #1a237f;
  --cor-secund치ria: #4fc3f7;
  --cor-fundo: #fafafa;
  --sombra: #00000025;
  --opacidade: 1;
  --cor-texto-1: #ffffff;
  --cor-texto-2: #1a237f;
  --cor-caixa: #ffffff;
  --cor-texto-caixa: #4f585d;
  --cor-texto: #000000;
  --cor-footer: #90a4ae;
  --fonte-principal: "Poppins", sans-serif;
  --texto-ciano: #4fc3f7;
  --filtro-cadeado: invert(18%) sepia(87%) saturate(800%) hue-rotate(190deg);
  --android: ;
}

#darkmode {
  cursor: pointer;
}

.dark-mode {
  --cor-principal: #0f172a;
  --cor-secund치ria: #172554;
  --cor-fundo: #1d3370;
  --sombra: #00000050;
  --opacidade: 0.8;
  --cor-texto-1: #d0d2d8;
  --cor-texto-2: #ededed;
  --cor-texto: #d0d2d8;
  --cor-texto-caixa: #bfbfc0;
  --cor-caixa: #ffffff10;
  --cor-icon: invert() grayscale(1);
  --filtro-cadeado: invert(100%);
  --invert: invert() grayscale(1);
  --android: brightness(0) invert(1);
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--cor-principal) 33%,
    var(--cor-secund치ria) 66%,
    var(--cor-fundo)
  );
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 84px;
  padding: 25px;
  background-color: var(--cor-principal);
  box-shadow: 0px 4px 30px var(--sombra);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: flex;
  width: 160px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu img {
  box-sizing: content-box;
  width: 30px;
  height: 30px;
}

.menu a {
  display: inline-flex;
  padding: 10px;
  list-style: none;
  font-size: 1em;
  color: var(--cor-texto-1);
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.aumentarfonte button {
  border: none;
  background-color: var(--cor-principal);
  cursor: pointer;
  position: sticky;
  z-index: 10;
}

.mnr {
  position: absolute;
  top: 100%;

  background: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}

.mnr button {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: var(--cor-principal);
  color: white;
  cursor: pointer;
}

.container {
  background-color: var(--cor-caixa);
  box-shadow: 0px 8px 20px var(--sombra);
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  color: var(--cor-texto);
}

.titulo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5em;
  color: var(--cor-texto-2);
}
.titulo2 img {
  width: 45px;
  filter: var(--invert);
}

.titulo {
  color: var(--cor-texto-2);
  margin-top: 30px;
}

.spam {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.spam li {
  margin: 5px 0px;
}
.spam img {
  width: 240px;
  height: auto;
  border-radius: 8px;
}

.strong {
  font-weight: bold;
  position: relative;
  top: 24px;
}
.chamada {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 32px;
  position: relative;
  top: 35px;
}
.chamada-texto {
  min-width: 300px;
}
.chamada p {
  position: relative;
  bottom: 30px;
  margin: 20px 0px;
}

.chamada img {
  width: 250px;
  height: auto;
  filter: var(--invert);
}

.compatibilidade {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.compatibilidade li {
  margin: 5px 0px;
}
.compatibilidade img {
  width: 190px;
  height: auto;
  border-radius: 8px;
  filter: var(--invert);
  filter: var(--android);
}

.como_funciona {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
  text-align: center;
  position: relative;
  top: 10px;
}
.como_funciona img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  filter: var(--invert);
}

.titulo_beneficios {
  position: relative;
  top: 50px;
}
.beneficios {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.beneficios li {
  margin: 5px 0px;
}
.beneficios img {
  width: 165px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 24px;
  filter: var(--invert);
}
.strong2 {
  font-weight: bold;
}

.usos {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  bottom: 30px;
}

footer {
  background-color: var(--cor-principal);
  color: var(--cor-footer);
  text-align: center;
  padding: 1em 0;
  font-size: 0.875em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.btn-abrir-menu,
.menu-mobile,
.overlay-menu {
  display: none;
}

@media (max-width: 1000px) {
  .menu {
    gap: 10px;
  }
  .como_funciona {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .container {
    margin: 20px;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 60px;
  }
  .logo {
    flex: 1;
  }

  .logo img {
    width: 140px;
  }

  .menu {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .menu a {
    font-size: 0.9em;
  }

  .btn-abrir-menu {
    display: block;
  }

  .btn-abrir-menu img {
    width: 30px;
    cursor: pointer;
  }

  .menu-mobile {
    display: block;
    height: 100vh;
    width: 0%;
    position: fixed;
    background-color: var(--cor-principal);
    top: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    transition: 0.3s;
  }

  .menu-mobile.abrir-menu {
    width: 70%;
  }

  .menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
  }

  .menu-mobile .fechar {
    padding: 20px 4%;
    position: fixed;
    cursor: pointer;
  }

  .menu-mobile .fechar img {
    opacity: var(--opacidade);
    width: 25px;
  }

  .menu-mobile nav {
    padding: 60px 0px;
  }

  .menu-mobile nav ul {
    text-align: right;
  }

  .menu-mobile nav ul a {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    list-style: none;
    text-decoration: none;
  }

  .menu-mobile nav ul a:hover {
    background-color: var(--cor-secund치ria);
    color: var(--cor-texto-2);
  }

  .overlay-menu {
    background-color: var(--cor-overlay);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
  }
  .menu nav {
    display: none;
  }
  .container {
    margin: 20px;
    padding: 20px;
  }

  .aumentarfonte img {
    position: relative;
    left: 10px;
  }

  .titulo2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }

  .titulo2 img {
    width: 30px;
  }

  .spam,
  .compatibilidade,
  .beneficios,
  .usos,
  .chamada {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .como_funciona {
    flex-direction: column;
    gap: 20px;
  }

  .chamada {
    top: 0;
  }

  .titulo_beneficios {
    position: static;
    text-align: left;
  }

  .strong {
    top: 0;
  }

  .chamada p {
    bottom: 0;
  }
  .imagens_beneficios {
    display: none;
  }

  .spam img,
  .beneficios img,
  .usos img,
  .chamada img {
    width: 70%;
    max-width: 280px;
    height: auto;
  }
  .compatibilidade img {
    width: 60%;
    max-width: 280px;
    height: auto;
  }
  .como_funciona img {
    width: 40%;
    max-width: 280px;
    height: auto;
  }

  .chamada-texto {
    min-width: unset;
  }
}